<nav class="navbar navbar-default navbar-fixed-top" id="navbar-bootstrapoverrides">
		<div class="container-fluid">
			<div class="navbar-header">
				<%= link_to home_splashpage_path do %>
				<span class="navbar-brand"><img alt="Brand" src="/images/pizza-brand-logo.jpg"></span>
				<span id="shop-title">La Pizzaria</span>
				<% end %>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<div class="nav navbar-nav navbar-right">
					
					<%- if customer_signed_in? and !current_customer.admin? %>
						
							<%= link_to home_menu_path do %>

								<button class="btn btn-default accountMenu" type="button" aria-expanded="true">
								<span class="header-img">
									<i class="fa fa-map-o" aria-hidden="true"></i>
								</span>
									 Menu
								</button>
							<% end %>
						<span class="dropdown">

						  <button class="btn btn-default dropdown-toggle accountMenu" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						     <span class="header-img">
						     	<i class="fa fa-user-circle" aria-hidden="true"></i>
						     </span>
						     Account
						    <span class="caret"></span>
						  </button>
						  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						    <li>
						    	<%= link_to 'Orders', orders_path %>
						    </li>
						    <li>
						    	<%= link_to 'Account Details', edit_customer_registration_path%>
						    </li>
						    <li role="separator" class="divider"></li>
						    <li>
						    <li>
						    	<%= link_to 'Sign out', destroy_customer_session_path, :method => :delete%>
						    </li>

						  </ul>
						</span>

					<%elsif customer_signed_in? and current_customer.admin?%>

						<%= link_to pizzas_showpizzalist_path, :class => "accountMenu btn-default btn" do%>
							Admin Section
						<% end %>
						<%= link_to 'Sign out', destroy_customer_session_path, :class =>"accountMenu btn btn-default", :method => :delete%>

					<% else %>
						<%= link_to new_customer_session_path do %>
						<span id="signin">Sign In</span>
						<% end %>
						<%= link_to new_customer_registration_path do %>
						<span id="signup">Sign Up</span>
						<% end %>
					<% end %>

					
				</div>	
			</div>
			
		</div>
	</nav>