<!DOCTYPE html>
<html>
<head>
	<title>Online Pizza Order</title>
</head>
<body>

	<!-- header -->
	<%= render :partial => "shared/header" %> 

	<!-- main body container -->
	<div class="container">
		<%= render :partial => "pizzaGallery" %>
		<hr> 
		<%= render :partial => "sidesGallery" %> 
		<hr>
		<%= render :partial => "drinksGallery" %> 
	</div>

	<!-- footer -->
	<%= render :partial => "shared/footer" %> 
</body>
</html>